@mixin project-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #project-cards {
    display: flex;

    .project-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
      margin: 3rem 0;

      .project-image {
        padding-bottom: 1rem;
      }

      .project-title {
        font-weight: 100;
      }

      p.project-description {
        color: mat-color($foreground, secondary-text);
        padding-bottom: 0.5rem;
        max-width: 20rem;
        font-size: 1rem;
        line-height: 25px;
        letter-spacing: 0.8px;
        font-weight: 300;
      }
    }
  }
}
