<div id="project-cards" class="mt-3 container-sm">
  <div class="row">
    <div
      class="project-card col-12 col-md-3"
      *ngFor="let project of projects | async"
      data-aos="fade-in"
    >
      <img
        class="project-image"
        width="100px"
        [src]="project.image"
        [alt]="project.imageAlt"
      />
      <h2 class="project-title">{{ project.name }}</h2>

      <p class="project-description">{{ project.description }}</p>
      <button mat-stroked-button (click)="goToLink(project.url)">
        <span>Open</span>
      </button>
    </div>
  </div>
</div>
