@use '~@angular/material' as mat;
@mixin section-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .section {
    width: 100%;
    padding: 0;
    color: mat.get-color-from-palette($foreground, text);

    h1 {
      margin: 4rem 0;
      text-align: center;
    }

    &.full-height {
      min-height: 100vh;
    }

    &.primary {
      background-color: mat.get-color-from-palette($background, background);
    }

    &.secondary {
      background-color: mat.get-color-from-palette($background, card);
    }

    &.tertiary {
      background-color: mat.get-color-from-palette($background, dialog);
    }

    &.center-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }
}
