<div id="article-cards" class="mt-3 container">
  <a
    class="article-card mb-5 row"
    *ngFor="let article of articles | async"
    data-aos="fade-in"
    [href]="article.url"
    target="_blank"
    role="link"
  >
    <div class="col-12 col-md-3 col-lg-2">
      <div
        class="article-image mb-3"
        [style.backgroundImage]="'url(' + article.image + ')'"
      ></div>
    </div>
    <div class="article-details col-12 col-md-9 col-lg-10">
      <div class="ps-md-3">
        <h2 class="article-title">{{ article.title }}</h2>
        <p class="article-description">{{ article.subtitle }}</p>
        <div class="article-meta">
          <span>
            Published on {{ article.publishDate }} ·
            {{ article.readingTime }} read
          </span>
        </div>
      </div>
    </div>
  </a>
</div>
