@use "@angular/material" as mat;
@import "mixins";

@mixin article-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .article-card {
    text-align: left;
    text-decoration: none;
    color: mat.get-color-from-palette($foreground, text);

    .article-image {
      overflow: hidden;
      background-size: cover;
      background-position: center;
      height: 10rem;
      width: 10rem;

      @include mobile-device() {
        width: 100%;
      }
    }

    .article-title {
      padding-top: 0.5rem;
      letter-spacing: 0.2px;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 0.25rem;
    }

    p.article-description {
      color: mat.get-color-from-palette($foreground, secondary-text);
      font-size: 1rem;
      line-height: 25px;
      letter-spacing: 0.8px;
      font-weight: 300;
    }
  }
}
