@use '~@angular/material' as mat;
@mixin social-links-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .social {
    a {
      opacity: 0.8;
      color: mat.get-color-from-palette($foreground, icon);
      margin: 0 0.5rem;

      mat-icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 3rem;
      padding: 0 0.5rem 0 0.5rem;
    }
  }
}
