@mixin toolbar-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-toolbar {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: mat-color($background, app-bar);
    border-bottom: 1.5px solid mat-color($background, status-bar);
    max-height: 3.3rem;

    &.hide {
      display: none;
    }

    .toolbar-title-area {
      display: flex;
      align-items: center;

      .toolbar-title {
        font-weight: 500;
        font-size: 17px;
        color: mat-color($foreground, text);
      }
    }
  }
}
