@use '~@angular/material' as mat;
@mixin toolbar-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-toolbar {
    backdrop-filter: saturate(180%) blur(20px);

    // Improve performance for blur effects
    transform: translateZ(0);
    will-change: transform;

    background-color: mat.get-color-from-palette($background, app-bar);
    border-bottom: 1.5px solid mat.get-color-from-palette($background, status-bar);
    max-height: 3.3rem;
    padding: 0;

    &.hide {
      display: none;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .toolbar-title-area {
      display: flex;
      align-items: center;

      .toolbar-title {
        font-weight: 500;
        font-size: 17px;
        color: mat.get-color-from-palette($foreground, text);
        text-decoration: none;
      }
    }

    .dark-mode-toggle-area {
      font-size: 2rem;

      mat-icon.mat-icon {
        font-size: 1.5rem;
      }
    }
  }
}
