mat-toolbar {
  backdrop-filter: saturate(180%) blur(20px);
}

.app {
  width: 100%;
  height: 100%;
}

.section {
  width: 100%;
  padding: 4rem 0;

  &:not(&:first-child){
    margin: 4rem 0;
  }

  h1 {
    margin-bottom: 4rem;
    text-align: center;
  }

  &.full-height {
    min-height: 100%;
  }

  &.secondary {
    background-color: #f5f5f7;
  }

  &.tertiary {
    background-color: #fcfcfc;
  }
}

img#profile-image {
  border-radius: 50%;
  width: 200px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-stack {
  max-width: 50rem;
}

.card {
  overflow: hidden;
  z-index: 2;
  background-repeat: no-repeat;
  transform-origin: top center;
  background-position: center center;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  background-color: white;
  height: 35rem;
  margin-bottom: 5rem;
  border-radius: 11px;
}

.title {
  font-size: 25px;
  padding: 2rem 0 1rem 0;
}

.subtitle {
  font-size: 20px;
  color: gray;
  padding-bottom: 2rem;
}

.social {
  a {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 3rem;
    padding: 0 0.5rem 0 0.5rem;
  }
}

div#show-more-icon {
  position: fixed;
  bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;

  mat-icon {
    font-size: 2rem;
    color: #b1b1b1;
  }
}

.big-content {
  height: 200vh;
}

#project-cards {
  display: flex;

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin: 1rem 0;

    .project-image {
      padding-bottom: 1rem;
    }

    p.project-description {
      color: #757575;
    }
  }
}
