<div class="app">
  <!-- <mat-toolbar class="fixed-top"></mat-toolbar> -->
  <div id="show-more-icon" appHideOnScroll>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
  <div class="section full-height center-content">
    <img
      id="profile-image"
      src="assets/profile-image.png"
      alt="Profile Image"
    />
    <div class="title">Philipp Kief</div>
    <div class="subtitle">Software Engineer</div>
    <div class="social">
      <a href="https://github.com/PKief"
        ><img src="assets/icons/github.png" alt="GitHub Logo"
      /></a>
      <a href="https://twitter.com/PhilippKief"
        ><img src="assets/icons/twitter.png" alt="Twitter Logo"
      /></a>
      <a href="https://stackoverflow.com/users/6942210/philipp-kief"
        ><img src="assets/icons/stack-overflow.png" alt="StackOverflow Logo"
      /></a>
    </div>
  </div>
  <div class="section secondary center-content">
    <h1 data-aos="fade-in">Projects</h1>
    <div class="card-stack container-fluid">
      <div class="card center-content" data-aos="fade-up"></div>
      <div class="card center-content" data-aos="fade-up"></div>
      <div class="card center-content" data-aos="fade-up"></div>
      <div class="card center-content" data-aos="fade-up"></div>
      <div class="card center-content" data-aos="fade-up"></div>
    </div>
  </div>
  <div class="section secondary center-content">
    <h1 data-aos="fade-in">Tech posts</h1>
    <div class="card-stack container-fluid"></div>
  </div>
</div>
