@use "@angular/material" as mat;

@mixin app-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app {
    width: 100%;
    height: 100%;
  }

  img#profile-image {
    border-radius: 50%;
    width: 200px;
  }

  .title {
    font-size: 25px;
    padding: 2rem 0 1rem 0;
    font-weight: 400;
  }

  .subtitle {
    font-size: 20px;
    color: mat.get-color-from-palette($foreground, secondary-text);
    padding-bottom: 2rem;
    font-weight: 100;
  }

  .big-content {
    height: 200vh;
  }

  .sticky-header {
    position: sticky;
    top: 0px;
    z-index: 100000;
    transition: font-size ease 0.15s;

    /* styles for when the header is in sticky mode */
    &.is-pinned {
      font-size: 21px;

      @include mobile-device() {
        font-size: 17px;
      }
    }
  }
}
