<div class="app" [ngClass]="theme | async">
  <app-toolbar></app-toolbar>
  <app-scroll-down-indicator></app-scroll-down-indicator>
  <app-section [colorTheme]="'primary'">
    <div>
      <img
        id="profile-image"
        src="assets/profile-image.png"
        alt="Profile Image"
      />
    </div>
    <div class="title">Philipp Kief</div>
    <div class="subtitle">Software Engineer</div>
    <div class="social">
      <a href="https://github.com/PKief"
        ><img src="assets/icons/github.png" alt="GitHub Logo"
      /></a>
      <a href="https://twitter.com/PhilippKief"
        ><img src="assets/icons/twitter.png" alt="Twitter Logo"
      /></a>
      <a href="https://stackoverflow.com/users/6942210/philipp-kief"
        ><img src="assets/icons/stack-overflow.png" alt="StackOverflow Logo"
      /></a>
    </div>
  </app-section>
  <app-section [colorTheme]="'secondary'">
    <h1 data-aos="fade-in">Projects</h1>
    <app-project-list></app-project-list>
  </app-section>
  <app-section [colorTheme]="'tertiary'">
    <h1 data-aos="fade-in">Articles</h1>
    <app-article-list></app-article-list>
  </app-section>
  <footer></footer>
</div>
