<div class="app" [ngClass]="theme | async">
  <app-toolbar></app-toolbar>
  <app-scroll-down-indicator></app-scroll-down-indicator>
  <app-section [colorTheme]="'primary'">
    <div>
      <img
        id="profile-image"
        src="assets/profile-image.jpg"
        alt="Profile Image"
      />
    </div>
    <div class="title">Philipp Kief</div>
    <div class="subtitle">Software Engineer</div>
    <app-social-links></app-social-links>
    <app-sponsor-button class="mt-4"></app-sponsor-button>
  </app-section>
  <app-section [colorTheme]="'tertiary'">
    <h1 class="sticky-header" data-aos="fade-in" data-aos-offset="200">
      Profile
    </h1>
    <app-profile-list></app-profile-list>
  </app-section>
  <app-section [colorTheme]="'secondary'">
    <h1 class="sticky-header" data-aos="fade-in" data-aos-offset="200">
      Projects
    </h1>
    <app-project-list></app-project-list>
  </app-section>
  <app-section [colorTheme]="'tertiary'">
    <h1 class="sticky-header" data-aos="fade-in" data-aos-offset="200">
      Articles
    </h1>
    <app-article-list></app-article-list>
  </app-section>
  <app-footer></app-footer>
</div>
