@import "~@angular/material/theming";

// custom background and foreground palettes
$dark-theme-background: (
  status-bar: #32373a,
  app-bar: rgba(#000, 0.72),
  background: #111111,
  hover: rgba(#fff, 0.04),
  card: #191919,
  dialog: #202020,
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$dark-theme-foreground: (
  base: #fff,
  divider: $white-12-opacity,
  dividers: $white-12-opacity,
  disabled: rgba(#fff, 0.3),
  disabled-button: rgba(#fff, 0.3),
  disabled-text: rgba(#fff, 0.3),
  hint-text: rgba(#fff, 0.3),
  secondary-text: rgba(#fff, 0.7),
  icon: rgba(#fff, 0.7),
  icons: #fff,
  text: #fff,
  slider-min: #fff,
  slider-off: rgba(#fff, 0.3),
  slider-off-active: rgba(#fff, 0.3),
);

@function create-dark-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $dark-theme-foreground,
    background: $dark-theme-background
  );
}

$theme-primary: (
  50: #eeeeee,
  100: #eeeeee,
  200: #eeeeee,
  300: #eeeeee,
  500: #eeeeee,
  900: #b0bec5,
  A100: #b0bec5,
  A200: #b0bec5,
  A400: #b0bec5,
  A700: #b0bec5,
  contrast: (
    50: #b0bec5,
    100: #b0bec5,
    200: #b0bec5,
    300: #b0bec5,
    900: #b0bec5,
    A100: #b0bec5,
    A200: #b0bec5,
    A400: #b0bec5,
    A700: #b0bec5,
  ),
);

$dark-theme-primary: mat-palette($theme-primary);
$dark-theme-accent: mat-palette($mat-pink);
$dark-theme-warn: mat-palette($mat-red);

$dark-theme: create-dark-theme(
  $dark-theme-primary,
  $dark-theme-accent,
  $dark-theme-warn
);
