@use '@angular/material' as mat;
@mixin footer-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .footer {
    background-color: mat.get-color-from-palette($background, background);
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 21rem;
  }

  h1 {
    color: mat.get-color-from-palette($foreground, text);
  }

  p.copyright {
    color: mat.get-color-from-palette($foreground, hint-text);
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-variant: all-small-caps;
  }
}
