@mixin footer-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .footer {
    background-color: mat-color($background, background);
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 21rem;
  }

  h1 {
    color: mat-color($foreground, text);
  }

  p.copyright {
    color: mat-color($foreground, hint-text);
  }
}
