@mixin scroll-down-indicator-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #show-more-icon-panel {
    position: fixed;
    bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;

    mat-icon {
      color: mat-color($foreground, icon);
    }
  }
}
