@use '@angular/material' as mat;
@mixin scroll-down-indicator-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #show-more-icon-panel {
    position: fixed;
    bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;

    #show-more-icon {
      animation: bounce 5s infinite;
    }

    mat-icon {
      color: mat.get-color-from-palette($foreground, icon);
    }
  }

  @keyframes bounce {
    0%,
    75%,
    83%,
    92%,
    100% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-10px);
    }
    87% {
      transform: translateY(-5px);
    }
  }
}
