@import "~@angular/material/theming";
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/utilities/_spacing.scss";
@import "bootstrap/scss/utilities/_position.scss";
@import "bootstrap/scss/utilities/_align.scss";

@include mat-core();

/************************
 Theming section
************************/

// Custom themable components
@import "app/shared/components/toolbar/toolbar.component";
@import "app/shared/components/section/section.component";

@mixin custom-components-theme($theme) {
  @include toolbar-theme($theme);
  @include section-theme($theme);
}

@import "./themes/light.scss";
@import "./themes/dark.scss";

.light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

/************************
 Default global styles
************************/
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
