@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@import "bootstrap/scss/bootstrap-grid.scss";
@import "bootstrap/scss/bootstrap-utilities.scss";

@include mat.core();

/************************
 Theming section
************************/

// Custom themable components
@import "app/shared/components/toolbar/toolbar.component";
@import "app/shared/components/section/section.component";
@import "app/shared/components/footer/footer.component";
@import "app/shared/components/social-links/social-links.component";
@import "app/shared/components/scroll-down-indicator/scroll-down-indicator.component";
@import "app/shared/components/sponsor-button/sponsor-button.component";
@import "app/profile/profile-list/profile-list.component";
@import "app/project/project-list/project-list.component";
@import "app/article/article-list/article-list.component";
@import "app/app.component";

@mixin custom-components-theme($theme) {
  @include toolbar-theme($theme);
  @include section-theme($theme);
  @include footer-theme($theme);
  @include profile-list-theme($theme);
  @include project-list-theme($theme);
  @include article-list-theme($theme);
  @include app-theme($theme);
  @include social-links-theme($theme);
  @include scroll-down-indicator-theme($theme);
  @include sponsor-button-theme($theme);
}

@import "./themes/light.scss";
@import "./themes/dark.scss";

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include custom-components-theme($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include custom-components-theme($dark-theme);
}

/************************
 Default global styles
************************/
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
