@use "@angular/material" as mat;
@import "mixins";

@mixin profile-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #profile-list {
    .profile-entry {
      margin: 3rem 0rem;
      width: 20rem;
      padding: 0 5rem;

      @include mobile-device() {
        margin: 1.25rem 0rem;
        width: 100%;
        padding: 0 2rem;
      }

      .mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
        margin-bottom: 22px;
        color: mat.get-color-from-palette($foreground, icon);

        @include mobile-device() {
          font-size: 34px;
          margin-bottom: 0px;
        }
      }

      .profile-title {
        padding: 0.5rem 0;
        letter-spacing: 0.2px;
        font-weight: 500;
        font-size: 18px;
      }

      .mat-chip-list-wrapper {
        justify-content: center;
      }
    }
  }
}
