<div
  id="profile-list"
  class="my-3 container d-flex flex-wrap align-items-center justify-content-center"
>
  <div
    data-aos="fade-in"
    class="profile-entry"
    *ngFor="let entry of profileEntries | async"
  >
    <mat-icon>{{ entry.icon }}</mat-icon>
    <h2 class="profile-title">{{ entry.title }}</h2>
    <mat-chip-list aria-label="Profile bullet points">
      <mat-chip *ngFor="let point of entry.bulletPoints">
        <img *ngIf="point.image" matChipAvatar [src]="point.image" />
        {{ point.text }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
