@use '@angular/material' as mat;
@import "./../../../styles/mixins.scss";

@mixin profile-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  #profile-list {
    .profile-entry {
      margin: 3rem 0rem;
      width: 22rem;

      @include mobile-device() {
        width: initial;
      }

      .mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
        margin-bottom: 22px;
        color: mat.get-color-from-palette($foreground, icon);
      }

      .profile-title {
        color: mat.get-color-from-palette($foreground, secondary-text);
        letter-spacing: 1.4px;
        font-variant: all-small-caps;
        font-size: 1.1rem;
      }

      .profile-content {
        padding: 0.5rem 4rem;
        letter-spacing: 0.2px;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
}
